<!doctype html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Delete a user in <%=shopName%></h1>
    <form method="POST" action="/deleteduser">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="delete" />
      </form>
  </body>
</html>