<!doctype html>
<html>
  <head>
    <title>TV-Shows</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for TV-Shows!</h1>
    <form method="POST" action="/gettvshow">
        <p>Show name: <input id="name" type="text" name="name" value="" /></p>
        <input type="submit" value="Search" />
      </form>
  </body>
</html>