<!doctype html>
<html>
  <head>
    <title>Weather Forecase</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Lookup weather forecast</h1>
    <form method="POST" action="/displayweather">
        <p>City: <input id="city" type="text" name="city" value="" /></p>
        <input type="submit" value="Search"/>
      </form>
  </body>
</html>